
    <!-- details page -->
    <section class="single section-sm pb-0 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <ul class="list-styled">
                            <a class="back-btn" href="{{host}}/index"></a>
                            <li class="sidelist">
                                <a href="{{host}}/docs/getting-started">Getting Started</a>
                                <ul>
                                    <li class="sidelist active">
                                        <a href="{{host}}/docs/meet-rpg">Meet RPG</a>
                                    </li>
                                    <li class="sidelist">
                                        <a href="{{host}}/docs/installation">Installation</a>
                                    </li>
                                    <li class="sidelist">
                                        <a href="{{host}}/docs/configuration">Configuration</a>
                                    </li>
                                    <li class="sidelist">
                                        <a href="{{host}}/docs/customization">Customization</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="p-lg-5 p-4 bg-white">
                        <h2 class="mb-5">Meet RPG</h2>
                        <div class="content">
                            <p>RPG is a small and fast framework. Its syntax is very simple and it comes with minimal features, which makes it easy to learn in a short time. Using RPG is like building a puzzle. You can break down even large projects into as many small pieces as you wish.</p>
                            <p>Build your project in an organized, fast, and manageable way by using the MVC software design pattern. The RPG Framework has a structure that completely abstracts PHP and HTML resources from each other. It is possible to write inline PHP code and create loops in the view files. However, the syntax of RPG encourages all background operations, including loops, to be handled in the controller. This way, the front-end and back-end are completely abstracted from each other.</p>
                            <p>If you're new to using a PHP framework or familiar with popular frameworks, you can quickly and easily learn RPG Framework. We believe that, whether alone or with your team, you will accomplish great things using RPG Framework.</p>
                        </div>
                        <p class="post-meta border-bottom pb-3 mb-0 mt-3">Last Update: {{last_update}}</p>
                        <nav class="pagination mt-3">
                            <a class="nav nav-prev" href="#">
                            </a>
                            <a class="nav nav-next" href="{{host}}/docs/installation">
                                <span class="d-none d-md-block">Installation</span>
                                <i class="ti-arrow-right ml-2"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /details page -->
