
    <!-- details page -->
    <section class="single section-sm pb-0 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <ul class="list-styled">
                            <a class="back-btn" href="{{host}}/index"></a>
                            <li class="sidelist">
                                <a href="{{host}}/docs/getting-started">Başlarken</a>
                                <ul>
                                    <li class="sidelist">
                                        <a href="{{host}}/docs/meet-rpg">RPG ile Tanışın</a>
                                    </li>
                                    <li class="sidelist active">
                                        <a href="{{host}}/docs/installation">Kurulum</a>
                                    </li>
                                    <li class="sidelist">
                                        <a href="{{host}}/docs/configuration">Yapılandırma</a>
                                    </li>
                                    <li class="sidelist">
                                        <a href="{{host}}/docs/customization">Özelleştirme</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="p-lg-5 p-4 bg-white">
                        <h2 class="mb-5">Kurulum</h2>
                        <div class="content">
                            <p>RPG Framework'ün yardımcı kurulum araçlarına ve onlarca PHP kütüphanesine ihtiyacı yoktur. Sadece GitHub deposundan dosyaları indirin ve kullandığınız web sunucusunun varsayılan dizinine kopyalayın. Bunu iki farklı yöntemle yapabilirsiniz:</p>
                            <h4 id="git">Git Komutunu Kullanarak</h4>
                            <p>Komut satırında, web sunucunuzun varsayılan dizinine gidin:</p>
                            <code class="code">cd /var/www/html</code>
                            <div class="notices note">
                                <span>{{note}}</span>
                                <p>Kullandığınız web sunucusunun, platformunuz için ön tanımlı çalışma dizininine göre komutu düzenleyin!</p>
                            </div>
                            <p>Git komutunu kullanarak RPG Framework'ü bulunduğumuz dizine klonlayacağız:</p>
                            <code class="code">git clone https://github.com/fuatboluk/rpg-framework</code>
                            <p>Her şey yolunda gittiyse, dizin içinde "rpg-framework" adında yeni bir dizin oluşacaktır. Dilerseniz bu dizini projenizin ismine göre yeniden adlandırabilirsiniz.</p>
                            <h4 id="archive">Arşiv dosyası indirerek</h4>
                            <p>Şimdi, <a href="https://github.com/fuatboluk/rpg-framework" target="_blank">rpg-framework</a> adresine giderek en son RPG sürümünü arşiv olarak indirin. Ardından, arşiv dosyasını web sunucunuzun varsayılan dizinine çıkarın.</p>
                        </div>
                        <p class="post-meta border-bottom pb-3 mb-0 mt-3">Son Güncelleme: {{last_update}}</p>
                        <nav class="pagination mt-3">
                            <a class="nav nav-prev" href="{{host}}/docs/meet-rpg">
                                <i class="ti-arrow-left mr-2"></i>
                                <span class="d-none d-md-block">RPG ile Tanışın</span>
                            </a>
                            <a class="nav nav-next" href="{{host}}/docs/configuration">
                                <span class="d-none d-md-block">Yapılandırma</span>
                                <i class="ti-arrow-right ml-2"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /details page -->
