
        <!-- banner -->
        <div class="container section">
            <div class="row">
                <div class="col-lg-8 text-center mx-auto">
                    <h1 class="text-white mb-3">Support Center &amp; Knowledge Base</h1>
                    <p class="text-white mb-4">Get quick advice from our support team or search in documents.</p>
                    <div class="position-relative">
                        <form action="search" method="post">
                            <input id="search" name="search" class="form-control" placeholder="Have a question?">
                            <button type="submit" class="search-btn">
                                <i class="ti-search search-icon"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /banner -->
