
    <!-- contact -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title text-primary">Herhangi bir sorunuz var mı?</h2>
                    <p>Sorunuzu bize iletin. Destek ekibimiz en kısa sürede cevaplandıracaktır.</p>
                    <p>{{contact_result}}</p>

                    <form action="" method="post">
                        <input type="text" id="name" name="name" placeholder="İsim" class="form-control mb-4 shadow rounded-0">
                        <input type="email" id="mail" name="mail" placeholder="Eposta" class="form-control mb-4 shadow rounded-0">
                        <input type="text" id="subject" name="subject" placeholder="Konu" class="form-control mb-4 shadow rounded-0">
                        <textarea name="message" id="message" placeholder="Mesaj" class="form-control mb-4 shadow rounded-0"></textarea>
                        <button type="submit" value="send" class="btn btn-primary">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /contact -->
