
    <!-- topics -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="section-title">Konuya göre cevabınızı bulun</h2>
                </div>
                <!-- topic-item -->
                <div class="col-lg-4 col-sm-6 mb-4">
                    <a href="{{host}}/docs/installation" class="px-4 py-5 bg-white shadow text-center d-block match-height">
                        <i class="ti-panel icon text-primary d-block mb-4"></i>
                        <h3 class="mb-3 mt-0">Kurulum</h3>
                        <p class="mb-0">RPG Framework'ün kurulum adımları</p>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <a href="{{host}}/docs/configuration" class="px-4 py-5 bg-white shadow text-center d-block match-height">
                        <i class="ti-settings icon text-primary d-block mb-4"></i>
                        <h3 class="mb-3 mt-0">Yapılandırma</h3>
                        <p class="mb-0">Apache ve Nginx web sunucu yapılandırması</p>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <a href="{{host}}/docs/customization" class="px-4 py-5 bg-white shadow text-center d-block match-height">
                        <i class="ti-package icon text-primary d-block mb-4"></i>
                        <h3 class="mb-3 mt-0">Özelleştirme</h3>
                        <p class="mb-0">RPG Framework'üne yeni özellikler eklemek</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- /topics -->

    <!-- call to action -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section px-3 bg-white shadow text-center">
                        <h2 class="mb-4">Sorunuzun cevabını bulamadınız mı?</h2>
                        <p class="mb-4">İletişim sayfamız üzerinden sorunuzu bize ileterek destek ekibimizden hızlı bir şekilde yanıt alabilirsiniz.</p>
                        <a href="{{host}}/contact" class="btn btn-primary">İletişim</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /call to action -->
